<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Catalogo utenti</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a href="#" [routerLink]="['/users/fr']" > Francia</a></li>
      <li [routerLinkActive]="['active']"><a href="#" [routerLink]="['/users/de']">Germania</a></li>
      <li [routerLinkActive]="['active']"><a href="#" [routerLink]="['/users/es']">Spagna</a></li>
      <li [routerLinkActive]="['active']"><a href="#" [routerLink]="['/users/gb']">Inghilterra</a></li>
      <li [routerLinkActive]="['active']"><a href="#" [routerLink]="['/users/ch']">Svizzera</a></li>
      <li [routerLinkActive]="['active']"><a href="#" [routerLink]="['/users']">Tutti</a></li>
    </ul>
  </div>
</nav>